@page
@model construction_company.Pages.positions.DetailsModel

@{
    ViewData["Title"] = "Детали должности";
}

<h1>Детали</h1>

<div>
    <h4>Должность</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.position.Name_Position)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.position.Name_Position)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.position.Salary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.position.Salary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.position.Responsibilities)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.position.Responsibilities)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.position.Requirements)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.position.Requirements)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.position.ID">Изменить</a> |
    <a asp-page="./Index">Вернуться назад</a>
</div>
