@page
@model construction_company.Pages.Brigadess.DetailsModel

@{
    ViewData["Title"] = "Детали бригады";
}

<h1>Детали</h1>

<div>
    <h4>Бригада</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brigades.Staff1ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brigades.Staff1ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brigades.Staff2ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brigades.Staff2ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brigades.Staff3ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brigades.Staff3ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Brigades.ID">Изменить</a> |
    <a asp-page="./Index">Вернуться назад</a>
</div>
